@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap"); /* hi! part font */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap"); /* japanese font */
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap"); /* resume down button font */

span#res {
  position: fixed;
  top: 30px;
  left: 30px;
  border: 1px solid #000;
  background-color: #fff;
  color: #f00;
  width: 50px;
  height: 50px;
  text-align: center;
}


/* main#about start */
main#about {
  border-top: 1px solid #000272;
  margin-top: 240px;
}

#about > div.contentArea:first-child {
  height: 440px;
}

#about > div.contentArea:first-child > div:first-child {
  flex: 1.5;
}

#about > div.contentArea:first-child > div:first-child h1:first-child {
  font-size: 120px;
  font-family: "MuseoModerno", cursive;
}

#about > div.contentArea:first-child > div:first-child h1:nth-child(2) {
  font-size: 80px;
  font-family: "MuseoModerno", cursive;
}

#about > div.contentArea:first-child > div:first-child span#meName {
  text-decoration: underline;
  font-style: italic;
  font-family: "MuseoModerno", cursive;
}

#about > div.contentArea:first-child div.imgBox {
  flex: 1;
  background-image: url(/images/about_me_move.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

#about div.contentArea:nth-child(2) > h2 {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 40px;
}

#about div.contentArea:nth-child(2) > div.flexContainer > div.basicInfo {
  flex: 1;
  height: 280px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  opacity: 0;
}

#about
  div.contentArea:nth-child(2)
  > div.flexContainer
  > div.basicInfo
  p.infoTitle {
  color: #000;
  height: 30px;
  padding-left: 20px;
  border-left: 5px solid #000;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

#about
  div.contentArea:nth-child(2)
  > div.flexContainer
  > div.basicInfo
  div.infoContent {
  color: #333;
  height: 220px;
  margin-top: 10px;
  line-height: 210px;
  text-align: center;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 30px;
}

#about div.questionair {
  padding: 100px 200px;
  justify-content: center;
}

#about div.questionair div.question {
  flex: 1;
  padding-right: 50px;
  text-align: left;
}

#about div.questionair div.question p:first-child {
  color: #000272;
  border-bottom: 1px solid #aaa;
  font-weight: 600;
  font-family: "M PLUS 1p", sans-serif;
}

#about div.questionair div.question p:last-child {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
}

#about div.questionair div.answer {
  flex: 1;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
}

#about div.questionair div.answer p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "M PLUS 1p", sans-serif;
}

#about div#q1
, #about div#q2
, #about div#q3 {
  margin-top: 100px;
  opacity: 0;
}

#about h2#basicInfoLine {
  opacity: 0;
}

#about div#resume {
  height: 300px;
  margin-left: 2080px;
  padding-top: 100px;
  text-align: center;
  background-color: #fff;
  position: relative;

}

#resume p {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  display: none;
}

#resume div#downloadBtn {
  width: 700px;
  height: 50px;
  border: 1px solid #000;
  background-color: #fff;
  line-height: 50px;
  font-size: 25px;
  position: absolute;
  left: 49.3%;
  bottom: 90px;
  transform: translateX(-50%);
  z-index: 2;
  cursor: pointer;
  display: none;
} 

#downloadBtn a {
  font-family: "MuseoModerno", cursive;
  font-weight: bold;
  display: none;
} 

#resume div#btnBackground {
  width: 700px;
  height: 50px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  display: none;
} 


div#extraImg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 350px;
  background-image: url(/images/personalf.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* keyframes start */

@keyframes fadeIn_1 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
}

@keyframes fadeIn_2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}

@keyframes fadeIn_3 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
}

@keyframes fadeIn_4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn_5 {
  0% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes aboutLineChange {
  0% {
    border-top: 1px solid #fff;
  }
  100% {
    border-top: 1px solid #000272;
  }
}

header {
  animation: 3s ease-in-out 0s 1 fadeIn_1;
}

main {
  animation: 3s ease-in-out 0s 1 fadeIn_2;
}

div#extraImg {
  animation: 2s ease-in-out 0s 1 fadeIn_3;
}

div#profileImg {
  animation: 2s ease-in-out 0s 1 fadeIn_4;
}

main#about > div:first-child > div:first-child {
  animation: 2s ease-in-out 0s 1 fadeIn_5;
}

main#about {
  animation: 3s ease-in-out 0s 1 aboutLineChange;
}

/* keyframes end */
