@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  background-color: #eee;
}

* {
  color: #000272;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a:hover,
a:active,
a:link,
a:visited {
  color: #333;
}

.flexContainer {
  display: flex;
}
