@charset "UTF-8";
@import url(reset.css);

body {
  padding-left: 3%;
  padding-right: 3%;
}

header#header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
}

#header div#headerLogo {
  width: 100px;
  text-align: left;
  font-weight: bold;
}

nav#headerMenu ul li a {
  color: #000272;
  height: 35px;
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

#headerMenu ul li a:hover {
  border-bottom: 5px solid #150485;
}

#headerMenu ul li a.selected {
  color: #fff;
  background-color: #150485;
  border-bottom: 5px solid #fff;
}

/* header end */

/* footer start */

footer#footer {
  background-color: #fff;
}

#footer p {
  padding-top: 50px;
  font-size: 80px;
  text-align: left;
}

/* footer end */
